<mjml>
  <mj-head>
    <mj-title>Zachet.com.ua</mj-title>
    <mj-attributes>
      <mj-image alt="" padding="0px"></mj-image>
      <mj-section padding="0px"></mj-section>
      <mj-class name="button" font-family="Roboto, Arial, sans-serif" background-color="#18C783" color="#ffffff" height="20px" width="197px" font-size="13px" text-decoration="none"></mj-class>
      <mj-class name="p" font-family="'Roboto Condensed', sans-serif" background-color="#ffffff" color="#000000" font-size="14px" text-decoration="none" padding="0 25px 20px" line-height="1.3"></mj-class>
      <mj-class name="footer-text" font-family="Roboto, Arial, sans-serif" color="#8C8C8C" font-size="12px" line-height="1.3"></mj-class>
      <mj-class name="footer-header" font-family="Roboto, Arial, sans-serif" color="#40297B" font-size="14px" line-height="1.3" align="center" font-weight="bold"></mj-class>
    </mj-attributes>
    <mj-font name="Roboto Condensed" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700"></mj-font>
    <mj-style inline="inline">
      .social { text-align: center!important; max-width: 110px!important; }
    </mj-style>
    <mj-style>
      @media all and (max-width: 420px)
    </mj-style>
  </mj-head>
  <mj-body background-color="#ffffff">
    <mj-wrapper background-color="#ffffff" padding="27px 10px 15px 10px">
      <mj-section>
        <mj-column padding-bottom="30px">
          <mj-image width="126px" alt="Zachet.com.ua logo" href="www.zachet.com.ua" src="http://www.kompetenzcenter.belka-z.pp.ua/letters/img/logo.jpg"></mj-image>
        </mj-column>
      </mj-section>
      <mj-section padding="30px 0 0" border-left="3px solid #40297B" border-right ="3px solid #40297B" border-top="3px solid #40297B">
        <mj-column>
          <mj-text mj-class="p">Здравствуй, Петров Петр Петрович!</mj-text>
        </mj-column>
      </mj-section>
      <mj-section padding="0" border-left="3px solid #40297B" border-right ="3px solid #40297B">
        <mj-column>
          <mj-text mj-class="p">Поздравляем! Твой первый заказ в компании "Зачёт!" практически оформлен. Чтобы наши специалисты могли оценить стоимость работы, активируй свой аккаунт.</mj-text>
        </mj-column>
      </mj-section>
      <mj-section border-left="3px solid #40297B" border-right ="3px solid #40297B" padding="0 0 15px 0" mj-class="button-wrapper">
        <mj-column>
          <mj-button align="left" padding="5px 25px 2px" mj-class="button" border-radius="10px" href="https://zachet.com.ua/" font-family="'Roboto Condensed', sans-serif" ><span style="font-size: 13px;padding:0;margin:0;">Активировать аккаунт</span></mj-button>
        </mj-column>
      </mj-section>
      <mj-section padding="0" border-left="3px solid #40297B" border-right ="3px solid #40297B">
        <mj-column>
          <mj-text mj-class="p">Возникли вопросы? Свяжись с нами через онлайн чат на главной странице <a href="https://zachet.com.ua/" style="color:#000; text-decoration:none;">zachet.com.ua</a></mj-text>
        </mj-column>
      </mj-section>
      <mj-section padding="0 0 0 0" border-left="3px solid #40297B" border-right ="3px solid #40297B" border-bottom ="3px solid #40297B">
        <mj-column>
          <mj-text mj-class="p">С уважением,<br>Команда "Зачёт!"</mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>
    <mj-wrapper background-color="#ffffff" padding="0 0 0 0">
      <mj-section padding="0">
        <mj-column>
          <mj-text mj-class="footer-header">Мы в соц. сетях</mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
      <mj-group css-class="social" width="110px">
        <mj-column>
          <mj-image alt="vk" href="https://zachet.com.ua/" width="30px" height="30px" src="http://www.kompetenzcenter.belka-z.pp.ua/letters/img/social1.jpg"></mj-image>
        </mj-column>
        <mj-column>
          <mj-image alt="telegramm" href="https://zachet.com.ua/" width="30px" height="30px" src="http://www.kompetenzcenter.belka-z.pp.ua/letters/img/social2.jpg"></mj-image>
        </mj-column>
        <mj-column>
          <mj-image alt="facebook" href="https://zachet.com.ua/" width="30px" height="30px" src="http://www.kompetenzcenter.belka-z.pp.ua/letters/img/social3.jpg"></mj-image>
        </mj-column>
      </mj-group>
    </mj-section>
    <mj-section padding="0">
        <mj-column>
          <mj-text mj-class="footer-text" align="center" padding="15px 0 0 0"><a href="https://zachet.com.ua/" style="color:#8C8C8C; text-decoration:none;font-size:12px">zachet.com.ua</a></mj-text>
          <mj-text mj-class="footer-text" align="center" padding="0 0 134px 0"><a href="mailto:request@zachet.com.ua" style="color:#8C8C8C; text-decoration:none;font-size:12px">request@zachet.com.ua</a></mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>